## ignore file
.htpasswd
composer.lock
reboot-rtorrent
*.swp

## ignore folder
public/components/
conf/users/*
vendor/
public/cache/*
public/themes/*

## do not ignore
!conf/users/.gitkeep
!public/cache/.gitkeep
!public/themes/default/
