{% if support.ReadTicket == false or support.ReadTicket.allTicketClose == true %}
    <form method="post" action="index.php">
        <h6 class="page-header reply-ticket-h6"><strong>Ouvrir un ticket</strong></h6>
        <div class="form-group">
            <textarea class="form-control" name="message" rows="3"></textarea>
        </div>
        <p class="text-right">
            <input type="hidden" name="user" value="{{ userName }}">
            <input type="submit" name="support" value="Envoyer un Ticket" class="btn btn-info btn-xs">                            
        </p>
    </form>
{% endif %}
{% if support.ReadTicket != false  %}
    {% for list in support.ReadTicket.ticket %}
        {% set idTicket = loop.index %}
        <div class="panel panel-default ticket ticket-{{ loop.index }}">
        {% for ticket in list.reply %}
            <div class="panel-heading">
            Message de : <em>{{ ticket.data.user }}</em> le <em>{{ ticket.data.date }}</em>
            {% if loop.first %}
                <span class="text-right">
                    <button type="button" id="{{ idTicket }}" class="btn btn-link btn-xs close-ticket">Cacher</button>
                </span>
            {% endif %}
            </div>
            <div class="panel-body">{{ ticket.data.message|nl2br }}</div>
        {% endfor %}
        </div>
        {% if list.status == 'open' %}
            <form method="post" action="index.php" class="ticket ticket-{{ loop.index }}">
                <h6 class="page-header reply-ticket-h6"><strong>Répondre au ticket</strong></h6>
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="3"></textarea>
                </div>
                <p class="text-right">
                    <input type="hidden" name="user" value="{{ userName }}">
                    <input type="submit" name="support" value="Envoyer un Ticket" class="btn btn-info btn-xs">                            
                </p>
            </form>
        {% endif %}
    {% endfor %}
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>status</th>
                    <th>créé le</th>
                    <th>m-à-j</th>
                    <th>fermer</th>
                </tr>
            </thead>
            <tbody>
            {% for list in support.ReadTicket.ticket %}
                <tr>
                    <td><button type="button" class="btn btn-link btn-xs show-ticket" id="{{ loop.index }}">{{ loop.index }}</button></td>
                    <td>
                    {% if list.status == 'open' %}
                        <strong class="text-success"><small>Ouvert</small></strong>
                    {% else %}
                        <strong class="text-danger"><small>Fermé</small></strong>
                    {% endif %}
                    </td>
                    {% for infoDate in list.reply %}
                        {% if loop.first %}
                            <td><small>{{ infoDate.data.date }}</small></td>
                        {% endif %}
                        {% if loop.last %}
                            <td><small>{{ infoDate.data.date }}</small></td>
                        {% endif %}
                    {% endfor %}
                    <td>
                    {% if list.status == 'open' %}
                        <form method="post" action="index.php">
                            <input type="hidden" name="user" value="{{ userName }}" class="btn btn-info">
                            <input type="submit" name="cloture" value="Fermer le billet" class="btn btn-info btn-xs">
                        </form>
                    {% else %}
                        <button class="btn btn-info btn-xs disabled">Fermer le billet</button>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}