<article class="col-md-6">
    <div class="well well-sm">
    <h4 class="icone-seed-managersupport titre-head">Contacter le Support</h4>
    <div class="trait"></div>

    {% if is_owner == true %}

    {% for list in ticket_list %}
    <div class="panel panel-default ticket ticket-{{ loop.index }}">
    {% set idTicket = loop.index %}
        {% for message in list %}
            <div class="panel-heading">
                Message de : {{ message.data.user }} le {{ message.data.date }}
                {% if loop.first %}
                <span class="text-right"><button type="button" id="{{ idTicket }}" class="btn btn-link btn-xs close-ticket">Cacher</button></span>
                {% endif %}
            </div>
            <div class="panel-body">{{ message.data.message|nl2br }}</div>
        {% endfor %}
    </div>
    <form method="post" action="index.php" class="ticket ticket-{{ loop.index }}">
        <fieldset>
            <legend>Répondre</legend>
            <div class="form-group">
                <!--<label for="support">Répondre</label>-->
                <textarea class="form-control" name="message" rows="3"></textarea>
            </div>
            <p class="text-right fix-marg-input">
                {% for message in list %}
                    {% if loop.first %}
                        <input type="hidden" name="user" value="{{ message.data.user }}">
                    {% endif %}
                {% endfor %}
                <input type="submit" name="support" value="Répondre au Ticket" class="btn btn-info btn-xs">                            
            </p>
        </fieldset>
    </form>
    {% endfor %}

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>utilisateur</th>
                <th>status</th>
                <th>créé le</th>
                <th>màj</th>
                <th>fermer</th>
            </tr>
        </thead>
        <tbody>
            {% for list in ticket_list %}
            <tr>
                <td><button type="button" class="btn btn-success btn-sm show-ticket" id="{{ loop.index }}">{{ loop.index }}</button></td>
                {% for info in list %}
                    {% if loop.first %}
                    <td>{{ info.data.user }}</td>
                    <td>######</td>
                    <td>{{ info.data.date }}</td>
                    {% endif %}
                    {% if loop.last %}
                    <td>{{ info.data.date }}</td>
                    {% endif %}
                {% endfor %}
                <td><a href="index.php">#####</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %} {# if is_owner #}

    <p>
        <strong>contact mail :</strong>
        <a href="mailto:{{ userSupportMail }}" target="_blank">{{ userSupportMail }}</a>
    </p>

    </div>
</article>

