
<article class="col-md-6">
    <div class="well well-sm">
    <h4 class="icone-seed-managersupport titre-head">Contacter le Support</h4>
    <div class="trait"></div>

    {% if is_owner == true %}

    {% for list in ticket_list %}
    <div class="panel panel-default">
        {% for message in list %}
            <div class="panel-heading">Message de : {{ message.data.user }} le {{ message.data.date }}</div>
            <div class="panel-body">{{ message.data.message }}</div>
        {% endfor %}
    </div>
    {% endfor %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Utilisateur</th>
                <th>Status</th>
                <th>Créé le</th>
                <th>Màj</th>
                <th>Fermer/Supprimer</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    {% endif %}

    <ul>
        <li>
            <strong>contact mail :</strong>
            <a href="mailto:{{ userSupportMail }}" target="_blank">{{ userSupportMail }}</a>
        </li>
    </ul>

    </div>
</article>

