{% if post.reboot is defined and rebootRtorrent.statusReboot == 0 %}
    <div class="alert alert-success">Votre session rtorrent a été redémarré avec succès.</div>
{% elseif post.reboot is defined and rebootRtorrent.statusReboot != 0 %}        
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Un problème est survenu lors du redémarrage de rtorrent</strong>, vérifiez votre configuration.
    </div>
{% endif %}
{% if post.reboot is defined and rebootRtorrent.statusReboot == 0 %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4>Log :</h4>
        <strong>commande exécuté: </strong>reboot-rtorrent {{ userName }}<br>
        <strong>status:</strong> {{ rebootRtorrent.statusReboot }}<br>
        <strong>résultat de la commande:</strong> <br>
        {% for logs in rebootRtorrent.logReboot %}
            # {{ logs }}<br>
        {% endfor %}
    </div>
{% endif %}

{% if post.support is defined and supportTicketSend == true %}
    <div class="alert alert-success">Votre ticket a était envoyé.</div>
{% elseif post.cloture is defined and supportTicketClose == true %}
    <div class="alert alert-success">Le ticket a était fermé.</div>
{% elseif post.cloture is defined and supportTicketClose == false %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Impossible de fermer le ticket</strong>, vérifiez votre configuration.
    </div>
{% endif %}

{% if serveur.CheckUpdate != false %}
    <div class="alert alert-info">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4>Nouvelle version disponible ! (v{{ serveur.CheckUpdate.version }})</h4>
        <ul>{% for new in serveur.CheckUpdate.news %}<li class="text-info">{{ new }}</li>{% endfor %}</ul>
        <small style="display:block;margin-top:5px;">Participants: {{ serveur.CheckUpdate.contributors }}</small>
    </div>
{% endif %}