/* CODE CSS AJUSTEMENT BOOTSTRAP */

::-moz-selection {
  background:#FF3C78;
  color:white;
}

::selection {
  background:#FF3C78;
  color:white;
}

body {
  background:url("../img/background.png");
}

ul {
  color:#5A5A5A;
}

.marg {
  padding:15px;
  margin-bottom:50px;
  background-color: white;
  box-shadow: 0 0 15px 0 white;
}

.dashboard {
  margin-top: 5px !important;
  margin-bottom: 20px !important;
}

.user {
  font-weight:bold;
}

.fix-progress {
  border:1px solid rgba(0,0,0,0.15);
}

.titre-head {
  margin-top:5px;
  margin-bottom:5px;
}

.trait {
  background-color:#E5E5E5;
  border-bottom:1px solid #FFFFFF;
  height:2px;
  margin:9px 1px;
  overflow:hidden;
}

/* ajustement popup et formulaire */
.modal-footer form {
  display:inline-block;
  margin:0px;
  margin-left:5px;
  padding:0px;
}

.btn-reboot{
  margin-top:20px;
}

#logout {
  color:#B94A48;
}

.text-defaut-color {
  color:#5A5A5A;
}

.textmodaleabout {
  color:#646464;
}

#load-info{
  margin-top:10px;
  font-weight:bold;
}

.load-average {
  font-size:11px;
}

.glyphicon-refresh {
  margin-right:7px;
}

#popupfilezilla, #popuptransdroid {
  margin-top:4px;
}

.fix-marg-input {
  margin-bottom: 0px;
}

.reply-ticket-h6 {
  margin-top:0px;
  margin-bottom:10px;
}

.reply-ticket-h6 .form-group {
  margin-bottom:10px;
}

.alert-sm {
  padding:7px;
}

fieldset {
  border:1px solid #B4B4B4;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}

legend {
  color: #5A5A5A;
  padding-left:7px;
  padding-right:7px;
  border-bottom:none;
  width:auto;
  margin-bottom:8px;
  font-size:18px;
}

textarea {
  margin-bottom: 15px;
}

.device {
  color:#5A5A5A;
}

.device .fa-android {
  font-size:18px;
}

#jquery-loader {
  position: relative;
  background-image: url("./../../../components/jquery-loader-plugin/images/ajax-loader.gif");
  background-position: center top;
  background-repeat: no-repeat;
}

#jquery-loader span {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

#jquery-loader-background {
  background-color: rgba(0,0,0,0.9);
}
