<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Installation - Seedbox Manager</title>
        <link rel="stylesheet" href="{{ path_for('home') }}assets/{{ theme }}.css">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1">
    </head>
    <body>
        <div class="container marg" id="install">
            <h1 class="page-header dashboard"><i class="fa fa-cogs" aria-hidden="true"></i> Guide d'installation</h1>
            <section class="row">
                <article class="col-md-12">
                    <div class="well well-sm">
                        <h4 class="titre-head">Démarrage de l'application</h4>
                        <div class="trait"></div>
                        <p>Indiquez le bon propriétaire des fichiers de l'application, copiez cette commande et l'exécuter en ROOT (super utilisateur).</p>
                        <code>chown -R {{ user_php.name }}:{{ user_php.name }} {{ root_path }}</code>
                        <p>Exécutez le script install.sh pour compiler le programme de reboot en ROOT.</p>
                        <code>cd {{ root_path }}/source/ </code>
                        <code>chmod +x install.sh &amp;&amp; ./install.sh</code>
                    </div>
                </article>
                <article class="col-md-12">
                    <div class="well well-sm">
                        <h4 class="titre-head">Comment obtenir les droits administrateurs ?</h4>
                        <div class="trait"></div>
                        <p>Pour obtenir les droits administrateurs il faut avant cela exécuter les commandes ci-dessus.</p>
                        <p>Ensuite rafraîchir cette page avec F5 par exemple. Cela aura pour conséquence de générer vos fichiers de configuration.</p>
                        <p>Puis ouvrez votre fichier de configuration avec un éditeur de texte.</p>
                        <code>vim {{ root_path }}/conf/users/{{ username }}/config.ini</code>
                        <small><em>Je vous conseille de copier cette commande après rafraichissement normalement cette page ne s'affichera plus jamais.</em></small>
                        <p>Pour terminer, il vous suffit de mettre admin = yes à la place de no et de quitter en enregistrant.</p>
                    </div>
                </article>
            </section>
        </div>
    </body>
</html>
