{% spaceless %}
<!DOCTYPE html>
<html lang="{{ 'core.lang'|trans }}">
    <head>
        <meta charset="utf-8">
        <title>Seedbox Manager</title>
        <link type="text/css" rel="stylesheet" href="/css/{{ user.theme }}.css">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1">
    </head>
    <body>
        <header class="navbar navbar-default navbar-static-top">
            {% include 'header.twig.html' %}
        </header>
        <!-- CONTENEUR -->
        <div class="container marg">
            <noscript>
                <div class="alert alert-info">
                    <h4>{{ 'core.layout.information'|trans }}</h4>
                    {{ 'core.layout.enable_javascript'|trans }}
                </div>
            </noscript>
            {% block content %}{% endblock %}
        </div>
        <div class="modal fade" id="popupinfo" tabindex="-1" role="dialog" aria-labelledby="target-about-us" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="target-about-us">{{ 'core.layout.modal.about_us'|trans }}</h4>
                    </div>
                    <div class="modal-body">
                        <p class="textmodaleabout">{{ 'core.layout.modal.author'|trans|raw }}</p>
                        <p class="textmodaleabout">{{ 'core.layout.modal.contact_us'|trans|raw }}</p>
                        <p class="textmodaleabout"><strong>{{ 'core.layout.modal.version'|trans }} {{ server.version }}</strong></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'core.layout.modal.close'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
        {% block modal %}{% endblock %}
    <script type="text/javascript" src="/js/app.min.js"></script>
    </body>
</html>
{% endspaceless %}
